<!-- Selected user profile -->
<div class="selected-user-profile">
    <div class="container">
        <div class="selected-user-profile-header mb-15">
            <%= render "profiles/partials/user_profile_header" %>
        </div>
        <div class="selected-user-profile-body">
            <!-- About section -->
            <div class="user-profile-about mb-15">
                <%= render "profiles/partials/user_profile_about" %>
            </div><!-- end -->

            <!-- About section -->
            <div class="user-profile-informations mb-15">
                <%= render "profiles/partials/user_profile_informations" %>
            </div><!-- end -->
        </div>
        
    </div>
</div>
<div id="user-profile-presentation-modal" class="c-modal modal fade" data-backdrop="static"></div>
<div id="user-profile-informations-modal" class="c-modal modal fade" data-backdrop="static"></div>
<div id="user-profile-thumbnail-modal" class="c-modal modal fade" data-backdrop="static"></div>
<div id="new-message-modal" class="c-modal modal fade" data-backdrop="static"></div>
