<div class="advertise-page">
    <div class="container">
		
		<div class="card">
  		
            <div class="card-header">
				<h4>Publicité</h4>
            </div>
            <div class="card-body">
                <p>
                    Nous sommes ouverts aux annonceurs et aux réseaux publicitaires directs à l'aide de DoubleClick AdExchange de Google.<br />
                    Notre équipe d'exploitation travaillera avec vous pour trouver la meilleure stratégie d’achat.<br />
                    La publicité permet d'atteindre votre public cible à travers toutes les plates-formes réelles.<br />
                    Vous pouvez les trouver sur le site Web de Flirtera, sur le site mobile ou sur les applications disposant de tels blocs d'annonces.<br />
                    
                </p>
            
            </div>
		</div>
	</div>
</div>