<div class="cgu-page">
    <div class="container">
		
		<div class="card">
  		
            <div class="card-header">
				<h4>Conditions Générale d'Utilisation</h4>
            </div>
            <div class="card-body">
                <p>

                
                    <h4>Conditions d'utilisation du site</h4>
                    <ol>
                        <li>	Vous devez être âgé d'au moins 18 ans et plus pour pouvoir vous inscrire sur Flirtera</li>
                        <li>	Flirtera est destiné aux personnes voulant faire des rencontres extra-conjugales</li>
                        <li>	Pour des questions de sécurité, il est interdit de partager son nom d'utilisateur et/ou mot de passe avec d'autre personne afin de faire un compte commun (Compte partagé entre membre).</li>
                        <li>	Afin de protéger ces usagers, Flirtera suggère fortement de ne mettre aucune information personnelle dans son profil telle que : adresse, numéro de téléphone, numéro d'assurance sociale, adresse courriel , etc. Flirtera se décharge de toutes responsabilités advenant le cas qu'un usager afficherait ces informations personnelles.</li>
                        
                        <li>	Il est de la responsabilité de l'usager, que toutes informations données sur lui dans son profil, soit vrai et qu'en aucun cas, l'usager puisse prendre l'identité de quelqu'un d'autre.</li>
                        <li>	Flirtera met tout en oeuvre pour protéger les renseignements de ses membres. Cepandant, null n'est à l'abris du piratage. Flirtera n'est pas responsable des informations dévoilées, ou obtenues par l'intermédiaire de ce site.</li>
                        <li>	Flirtera veut que son site soit le plus amical possible. C'est pourquoi nous demandons à tout usager qui voit ou lit un commentaire offensant énuméré ci-haut, que ce soit dans un profil ou dans un message, de le rapporter le plutôt possible.</li>

                    </ol>

                    <h4>Règlements concernant votre profil</h4>
                    <ol>
                        <li>	Toutes informations personnelles telles qu'adresse courriel, compte Facebook, compte Skype, numéro de téléphone, adresse de résidence ou tout autre moyen de communication outre que sur le site, ne seront acceptées</li>
                        <li>	Il est interdit de faire des propos sexuels, incitation à des actes sexuels, récits érotiques ou sexuels ou parlant de massages érotiques</li>
                        <li>	Aucun blasphème ne sera accepté</li>
                        <li>	Aucun langage racial, diffamatoire et vulgaires ne sera toléré</li>
                        <li>	Interdiction de faire de la publicité pour votre compagnie ou pour un autre site</li>
                        <li>	Des profils avec des descriptions non soignées (sans ponctuation et/ou fautes d'orthographe en grande quantité rendant la lecture quasi impossible ou très difficile) seront également supprimés</li>
                    </ol>

                    <h4>Règlements concernant vos photos</h4>
                    <ol>
                        <li>	Vous devez être sur toutes les photos que vous ajouterez à votre profil. Nous devons voir clairement votre visage</li>
                        <li>	Aucune photo d'enfant ne sera tolérée. À moins bien sûr d'être sur la photo</li>
                        
                        <li>	Interdiction d'ajouter des photos de célébrités, logo de compagnie, paysage</li>
                        
                    </ol>
                    <h4>Règlements concernant le forum</h4>
                    <ol>
                        <li>	Pour poster un message ou créer sa discussion, il faut s'inscrire sur le site</li>
                        <li>	Il est interdit de faire de la publicité pour votre site, vos services ou vos produits, même s'ils sont gratuits ou non</li>
                        <li>	Ne donner aucune information personnelle</li>
                        <li>	Il est totalement interdit d'aborder des sujets de discussion ou commentaires à caractère politique, religieux, raciales.</li>
                        <li>	Nous demandons le respect de tous et le manque de respect ne sera pas toléré et le membre en question pourra voir son compte supprimé ou bloqué.</li>
                        <li>	Il est strictement interdit de faire des commentaires (bons ou mauvais) à propos d'un autre site ou d'une autre compagnie.</li>
                        <li>	Il est strictement interdit de faire des 'Copier/Coller' en partie ou en totalité de texte d'un autre site.</li>
                    </ol>

                    <h4>Règles de confidentialité</h4>
                    <ol>
                        <li>	Les informations recueillies par Flirtera, sont utilisées que pour communiquer avec vous.</li>
                        <li>	Le courriel est nécessaire lors de votre inscription sur le site. Une fois inscrit, Flirtera peut communiquer avec vous par courriel pour vous aviser de nouveau(x) message(s) reçu(s) et pour vous faire part de nouveauté(s) sur le site. Les options de communication avec vous, peuvent être désactivées via les paramètres de votre compte.</li>
                        <li>	Toutes vos informations sont gardées confidentiellement et en aucun cas nous vendons des informations(Courriel, nom d'usager, code postal, etc.). C'est contre notre politique.</li>
                        <li>	Vous avez accès à vos informations en tout temps. Il est également possible de modifier toutes vos informations et même de désactiver votre compte.</li>
                        <li>	Il est également possible de supprimer toutes vos informations relatives à votre compte.</li>
                    </ol>


                    <h4>Modification et suppression des informations personnelles</h4>
                    <ol>
                        <li>	Il est possible de modifier toutes informations relatives à votre compte et ce en tout temps</li>
                        <li>	À votre demande, nous pouvons supprimer toutes informations (votre compte) du site. Alors, toutes informations vous concernant, seront supprimées du site. Vous pouvez nous contacter et envoyer votre demande de suppression à l'adresse suivante contact@Flirtera.fr</li>
                    </ol>


                
                </p>
            
            </div>
		</div>
	</div>
</div>