<div  class="footer">
  
       
        
        <%= link_to "Conditions générales d'utilisation", cgu_path, title: "Prenez connaissance des conditions générales et des règlements." %>
       
        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
        
        <%= link_to "Publicité", advertise_path, title: "Diffusez votre publicité sur Flirtera."%>

        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
       
        
        <%= link_to "Cookies", cookies_path, title: "Cookies."%>

       
        
        </div>
        <div>
        <span class="profile-sidebar-copyright">
            &copy; Flirtera <%= Time.now.year %>
        </span>
    
</div>