<div class="footer-one">

	

    <div class="container">
        <div class="row">
			<div class="col-md-6 copyright">
				&copy;  <%= "#{Time.now.year} - #{APPLICATION_NAME}" %>. Tous droits Réservés. 
			</div>

			<div class="col-md-6">
				<div class="social-link">
					<div class="text-center">
	                
	                
	                <a href="https://www.facebook.com/flirtera/" class="btn btn-social-icon btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
	                </a>
	              
	                
	               

	                <a href="https://www.instagram.com/flirtera.official/" class="btn btn-social-icon btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>

	               
	                <a href="https://twitter.com/Flirtera2" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
	                
	              </div>
				</div>
			</div>

		</div>

    </div>
</div>

