<div class="left-sidebar" role="left-sidebar">

  <div class="card-body">
<div class="act-panel ">
    <div class="act-panel-wr">
        <%= link_to show_my_profile_path(slug: current_user.slug), class: "act-panel-user" do %>
        
            <div class="act-panel-user-pic">
                <div class="act-panel-user-avatar">
                    <div class="avatar-placeholder"> 
                         <%= user_avatar(current_user, "Avatar", "img-fluid rounded-circle")%>
                    </div>                
                </div>
                <div class="act-panel-user-name">
                    <%= current_user.login %>               
                </div>
            </div>
        <% end %>

        <div class="act-main-menu">
            

            
           
            <a href="/messages" class="act-main-menu-item act-main-msg">
                Messages                <div class="act-main-nav-buble empty">0</div>
                <span class="icon">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </span>
            </a>
            <a href="/profile/activity?page=favd" class="act-main-menu-item act-main-like">
                Aimé(e) par                
                
                <span class="icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                </span>
                <div class="act-main-nav-buble empty">0</div>
            </a>
            <a href="/profile/activity?page=visit" class="act-main-menu-item act-main-visitor">
                Visiteurs                
                <span class="icon">
                <i class="fa fa-eye" aria-hidden="true"></i>               
                 </span>
                <div class="act-main-nav-buble empty">0</div>
            </a>
            <a href="/profile/activity?page=mutuals" class="act-main-menu-item act-main-mutuals">
                Goûts en commun                
                <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>                
                 </span>
                <div class="act-main-nav-buble empty">0</div>
            </a>
            
            
            <a href="/messages/contacts" class="act-main-menu-item act-main-contacts">
            <span class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>             </span>
                Contacts            
                </a>
            
            
           
           


        </div>
       

        

    </div>

    
    </div>

    </div>
    </div>
    <div class="footer">
        
                    <%= render 'layouts/partials/dashboard_footer' %>
               
    </div>